
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{baseURL}}/scripts/main.js"></script>
    <script>
        {{#if invalidLogin}}
            alert("Invalid Login attempt! Try again.");
        {{/if}}

        {{#if userNameTaken}}
            alert("Username already taken! Try another.");
        {{/if}}
    </script>
</body>
</html>